<section class = "categories min-vh-100">
    <div class = "container-lg">
        <div class = "row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
            <%= link_to products_path do %>
                <div class = "col">
                    <%=image_tag "guitar.jpeg", alt: "Guitar", class:"category-item img-fluid"%>
                </div>
            <% end %>
            <%= link_to products_path do %>
                <div class = "col">
                    <%=image_tag "drums.jpeg", alt: "Guitar", class:"category-item img-fluid"%>
                </div>
            <% end %>
            <%= link_to products_path do %>
                <div class = "col">
                    <%=image_tag "piano.jpeg", alt: "Guitar", class:"category-item img-fluid"%>
                </div>
            <% end %>
            <%= link_to products_path do %>
                <div class = "col">
                    <%=image_tag "amp.jpeg", alt: "Guitar", class:"category-item img-fluid"%>
                </div>
            <% end %>
            <%= link_to products_path do %>
                <div class = "col">
                    <%=image_tag "accessories.jpeg", alt: "Guitar", class:"category-item img-fluid"%>
                </div>
            <% end %>
        </div>
    </div>
</section>